<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script language="javascript" type="text/javascript" src="view/javascript/jQ.js"></script>
    <script language="javascript" type="text/javascript" src="view/javascript/forms.js"></script>
    <link rel="stylesheet" type="text/css" href="view/styles/media.css">
</head>
<body>
<header>

</header>
<div class="line"></div>

<div class="main-body"></div>

<div class="line"></div>
<footer>Camagru, pkolomiy, 2017</footer>
<script language="javascript" type="text/javascript" src="view/javascript/main.js"></script>

</body>
</html>